@media only screen and (max-width: 600px) {
  .App {
    font-family: sans-serif;
    text-align: center;
    align-content: left;
  }

  .ServicoItem {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  .Servico {
    display: grid;
    align-content: center;
  }

  .BlocoFormServ1 {
    display: grid;
    align-content: center;
  }
  .BlocoFormServ2 .BlocoMensagem {
    display: grid;
    align-content: center;
    margin: 1em;
  }
  .Submit {
    display: inline;
    margin: 1em 0em;
  }

  .CloseButton {
    height: fit-content;
    display: flex;
    float: right;
    margin: 0em 1em;
  }
}
@media only screen and (min-width: 600px) {
  .App {
    font-family: sans-serif;
    text-align: center;
  }

  .ServicoItem {
    display: flex;
    position: relative;
    font-size: 1em;
    margin: 0.4em 0em;
  }
  .Servico {
    display: flex;
    margin: 0em 2em;
    padding: 1em;
    box-shadow: 1vmax 1vmax 4vmax;
  }

  .Assunto {
    width: calc(10em + 10vw);
  }

  .BlocoFormServ1 {
    display: grid;
    position: relative;
    align-content: flex-end;
    top: 0vh;
    left: 0vw;
    width: 15vw;
    padding: 1em;
  }
  .BlocoFormServ2 {
    position: relative;
    width: 50vw;
    height: fit-content;
  }

  .BlocoMensagem {
    display: grid;
    height: 65vh;
    align-content: baseline;
  }
  .BlocoMensagem textarea {
    height: 50vh;
  }
  .BlocoSubmit {
    display: grid;
    align-content: baseline;
  }

  .TheMain {
    display: grid;
    text-align: center;
    align-content: center;
    height: fit-content;
  }

  .TheMain ul {
    display: flexbox;
  }

  .TheMain ul li {
    margin: 0em 0.2em;
  }

  .SubMain {
    display: grid;
    place-content: left;
    padding-left: 10vw;
  }

  .UpBar {
    display: flex;
    place-content: center;
    padding: 0;
    list-style: none;
  }
  .Upbar {
    margin: 0.5em 0em;
  }

  .CloseButton {
    height: fit-content;
    width: fit-content;
    position: relative;
    font-family: "Courier New", Courier, monospace;
  }

  .SideBar {
    text-align: left;
    position: fixed;
    margin: 0em;
    left: 0em;
    z-index: 1;
    padding: 0;
    display: flow-root;
    height: 100vh;
    width: 10vw;
  }

  .Button.Servicos {
    display: block;
    margin: 1em 0em;
  }

  table {
    border-collapse: collapse;
    width: 65vw;
  }

  .Chamado {
    display: inline-block;
  }

  .Chamado1 {
    width: 20vw;
  }

  .Chamado2 {
    width: 68vw;
  }

  .Content {
    display: flex;
  }

  .Mensagem {
    padding: 0 0 1em 0;
    margin: 3em;
    box-shadow: 0.5vmax 0.5vmax 2vmax;
  }

  .Mensagem h5 {
    text-align: left;
    margin: 1em;
    padding: 1em;
  }
}

.hidden {
  display: hidden;
}

.Button {
  background: rgba(100, 205, 75, 0.9);
  font-size: 1.2em;
  z-index: 2;
}

ul {
  list-style: none;
}
